In [ ]:
#3. Find the most popular Tweet Entities in your collection of tweets
#(1) plot a table of the top 10 hashtags, 
#(2) top 10 user mentions that are the most popular in your collection of tweets.

In [1]:
from tweepy import OAuthHandler
import tweepy
import io
import time
import pandas as pd
from IPython.display import display

screenName = "AaronRodgersGod" #"TanzeelSHK"


def oauth_me():    
    CONSUMER_KEY = 'Y8PpyLf5UW0LSCdwTXHXI8Ypn'
    CONSUMER_SECRET ='BppAOhd8pLJxchOufdS3TTcv3F4CZptnUUHLtW65vsjv7oaJdl'
    OAUTH_TOKEN = '276846978-P2rWU1Dqthv3IRIP3sspbVCyhdmVrVrYqYVuqE1R'
    OAUTH_TOKEN_SECRET = 'ToLp2UEfMDIa9U8Z96g7wwjgS0bno1TxZhE8bpuitCO99'

    
    #OAuth with tweepy wrappers.
    auth = OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
    auth.set_access_token(OAUTH_TOKEN, OAUTH_TOKEN_SECRET)
    
    # Construct the API instance
    api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)
    print api
    return api
#Function to convert JSON data to panda Datasets
def jsonto_PandaDataFrame(screen_name_list):
    import pandas as pd
    #Create a instance of Panda Dataframe
    DataSet = pd.DataFrame()    
    #print tweets
    #for screenname in screen_name_list:
    DataSet['id'] = [screenname[0] for screenname in screen_name_list]
    DataSet['Name'] = [screenname[1] for screenname in screen_name_list]    
    return DataSet
    
def get_followers_ids():
    api = oauth_me()
    ids = []
    all_screen_names=[]
    page_count = 0
    for page in tweepy.Cursor(api.followers_ids, screen_name=screenName).pages():
        ids.extend(page)#TanzeelSHK
        time.sleep(15)
    limit = [ids[x:x+100] for x in xrange(0,len(ids),100)]
    for item in limit:
        screen_names = [(user._json["id_str"],user.screen_name) for user in api.lookup_users(user_ids=item)]
        all_screen_names =  all_screen_names + screen_names
    print "***** Total Followers Count " + str(len(all_screen_names))+" *****"
    print "***** Plot 20 Followers *****"
    #for sn in screen_names:
    #    print sn
    DataSet = jsonto_PandaDataFrame(all_screen_names)
    display(DataSet.head(20))
    return all_screen_names

def get_friends_ids():
    api = oauth_me()
    ids = []
    all_screen_names=[]
    page_count = 0
    for page in tweepy.Cursor(api.friends_ids, screen_name=screenName).pages():
        ids.extend(page)#TanzeelSHK
        time.sleep(15)
    print len(ids)
    limit = [ids[x:x+100] for x in xrange(0,len(ids),100)]
    for item in limit:
        screen_names = [(user._json["id_str"],user.screen_name) for user in api.lookup_users(user_ids=item)]
        all_screen_names =  all_screen_names + screen_names
    print "***** Total Friends Count " + str(len(all_screen_names))+" *****"
    print "***** Plot 20 Friends *****"
    #for sn in screen_names:
    #    print sn
    DataSet = jsonto_PandaDataFrame(all_screen_names)
    display(DataSet.head(20))
    return all_screen_names
friends = get_friends_ids()
followers = get_followers_ids()
mutual = list(set(friends) & set(followers))
print "***** Total Mutual Count " + str(len(mutual))+" *****"
print "***** Plot 20 Mutual *****"
DataSet = jsonto_PandaDataFrame(mutual)
display(DataSet.head(20))

<tweepy.api.API object at 0x0000000009C504E0>
449
***** Total Friends Count 449 *****
***** Plot 20 Friends *****

            id             Name
0    169686021        kanyewest
1    489127453  VaIentinesCards
2    141426450      show_case29
3    624300237     amnesty_that
4   2803872090       GBPack2Fan
5     28283718       Andy_Gappa
6    146711280        Jrortiz81
7    211787112      KGTrashTalk
8     16953393      AaronNagler
9     81891793         YourMCFC
10  1469402426         UEFAEURO
11  2775808199       BMRisingTV
12  3306986726       Andy102489
13   328054797       City_Watch
14   343627165    premierleague
15   108568373  SkySportsNewsHQ
16  3249822492   OReillyGilliam
17   490815940         dante_j3
18  1107765690    TyMontgomery2
19   287910460        QRollins2

<tweepy.api.API object at 0x000000000A329A58>
***** Total Followers Count 1003 *****
***** Plot 20 Followers *****

            id             Name
0   3220005441     tehisanaseki
1    402655310        runner816
2   1575082164         Libra_gk
3   2604559218  GoFootBallVideo
4   2202125136  D1994LuisDaniel
5   2972241819   greenranger_13
6   2437590493      JosermayerL
7   4853623283         citylimt
8   4574556388       JDArtwork_
9     15181635          BevBran
10  4795107134      BoyardeeMUT
11    60170836         jmanthey
12   321728342       josh_theis
13  2500649399    maxattack_400
14  4739307315  ZolabikinWZIZVQ
15  3337364992  Simon_Hyllested
16    23009627    SconnieSports
17  2546582307   Donaldthedon23
18  2967364593        adrikores
19  2897416317         Tiff2374

***** Total Mutual Count 292 *****
***** Plot 20 Mutual *****

            id            Name
0     23520471     fizzyw0mack
1     44260088     BonnorCrush
2    319791338     LegenDerry_
3     37137467      bet_on_blk
4    239496962  FoleMasterFlex
5     26550779      JewcciMane
6     36884124      solesavage
7     44535313   ItsGeorgyBruh
8     33624886        jenn5255
9     25964028     Buck_Wahyld
10   341179138     SteveAriens
11   550422164      CJ_Umentum
12    21053356  ConnectChris90
13    34079189  frozentundra52
14    28286239     younghugger
15  2803872090      GBPack2Fan
16    48733272         jsams20
17   275121164      DANYO_SAHN
18    30174742      yesitsNEIL
19   190133496  PlatinimStatis